<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Wim Houben</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- HEADER TEMPLATE -->
    <nav>
        <a class="navlink" href="index.html">About</a>
        <a class="navlink" href="index.html">Library</a>
        <a href="music.html">Music</a>
    </nav>
    <h1>Music</h1>   
    <h2>
        Every week, I jam and record music with my best friend/mentor Takumi. 
        On this page I document our sessions.  
    </h2>
    <!-- HEADER TEMPLATE / END -->

    <!-- MAIN AREA -->
    <main>
        <img src="https://wimhouben.com/pub/music/July/12072023/12072023.png" alt="Hand on the piano.">
        <h3>12072023</h3> 
        <p>
            Tonight's session was absolutely amazing. 
            Even though we started a bit slow, we quickly found our flow and made some great progress.
        </p>
        <p>
            At the beginning, we weren't sure whether we should re-record the idea from our last session. 
            But after a few tries, we realized it wasn't necessary. Instead, we decided to make some small MIDI changes to the drums. 
            This saved us time and helped us move forward.
        </p>
        <p>
            Once we had the basic structure down, we added a catchy melody to the song. 
            This melody acts as the glue that brings all the different parts together. 
            After finishing the melody, we focused on creating a simple arrangement for the track. 
            We dropped it into our mastering template, and voila, track finished!
        </p>
        <audio preload="none" controls loop>
            <source src="https://wimhouben.com/pub/music/July/12072023/12072023.wav" type="audio/wav">
            Your browser does not support the audio element.
        </audio> 
        <p>To wrap up the session, we listened to some awesome songs:</p>
        <a href="https://open.spotify.com/track/2RaN7kGPxuT3wvpdw9dyND?si=5d086fa0a528464d">Earth, Wind & Fire - Beijo</a>
        <br>
        <a href="https://open.spotify.com/track/3jiKUMXqwEodB7gVv1RMZU?si=d519097638df4f38">Bruno Mars, Anderson Paak, Thundercat - After Last Night</a>
        <br>
        <a href="https://open.spotify.com/track/5BUx7JYJdce2SP3YjYoV03?si=a7d3e64775fa466d">Quincy Jones, Take 6 - Moody's Mood For Love</a>
        <br>
        <a href="https://open.spotify.com/track/0u19PefWd2fPyhPL7grgq5?si=935fad1ffadc421c">Javier Santiago, Elena Pinderhughes - Trance</a>
        <br>
        <a href="https://open.spotify.com/track/18vyo0NTf5n3WD08ZEVQ0z?si=c6b71b241cb14661">Kiefer, Braxton Cook - U Already Know</a>
        <br>
        <br>
    </main>
    <!-- MAIN AREA / END -->

    <!-- FOOTER -->
    <hr>
        Discover <a href="allsessions.html">all sessions</a>. 
        <br>
        Find us on <a href="https://open.spotify.com/artist/3HvDYPOZuI4QsWFCE6exMf?si=GOhIShbzTKmuYT51LJncjA">Spotify</a> 
        or <a href="https://music.apple.com/be/artist/radiocosmo/1507818854">Apple Music</a>. 
        <br> 
        Listen to our inspiration <a href="https://open.spotify.com/playlist/4gQpCHelgxrgrZrcqJZM8a?si=9dc84f31438848bd">playlist</a>. 
    <hr>
    <p>
        If you have questions, recommendations or feedback: 
        <a href="mailto:wimhouben1992@gmail.com">send me an e-mail!</a>
    </p>
    <!-- FOOTER / END -->

</body>
</html>